@model VMNS.Models.Sub_BrakeTires

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Body.cshtml";
    var currentValues = new[] { "Good for Service", "For Monitoring", "Needs Repair" };
}
<div class="row mt-3">
    <div class="col-md-6 col-sm-4 col-6 my-auto">
        <h2><i class="ri-car-fill text-lra-primary"></i> Brakes and Tires</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-6  my-auto  position-relative">
        <div class="float-end">
            <a asp-area="" asp-controller="Maintenances" asp-action="Details" asp-route-Id=@ViewData["MaintenanceId"] class="btn btn-sm text-capitalize bg-white rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
            <button type="button" class="btn btn-sm text-capitalize bg-lra-danger rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="ri-delete-bin-7-line"></i> Delete</button>
            <a asp-area="" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm  text-dark text-capitalize bg-lra-sub-info rounded "><i class="ri-edit-box-line"></i> Edit</a>
        </div>
    </div>
    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="row bg-white box-lra-shadow rounded d-flex justify-content-center pt-4">
        <div class="col-md-7 col-12">
            <input type="text"
                   asp-for="MaintenanceId"
                   id=""
                   class="form-control"
                   required
                   readonly
                   hidden
                   pattern="\S+.*" />
            <table class="table table-bordered table-borderless">
                <thead>
                    <tr>
                        <th colspan="4" class="category-name">
                            Wheel Position
                        </th>
                    </tr>
                    <tr>
                        <th colspan="4">
                            <div class="input-group" id="">
                                <div id="" class="custom-input w-100 py-3">
                                    <input type="text"
                                           id=""
                                           class="form-control"
                                           value="@Html.DisplayFor(model => model.lu_Wheel.WheelPosition)"
                                           required
                                           readonly
                                           pattern="\S+.*" />
                                    <div class="input-text"><label>Wheel Position</label></div>
                                </div>
                            </div>
                            <span asp-validation-for="lu_WheelId" class="text-danger"></span>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="4" class="category-name">
                            Tire Pressure PSI
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <div class="input-group" id="">
                                <div id="" class="custom-input w-100 py-3">
                                    <input type="number"
                                           asp-for="TirePressureBefore"
                                           id=""
                                           class="form-control"
                                           required
                                           pattern="\S+.*" />
                                    <div class="input-text"><label asp-for="TirePressureBefore"></label></div>
                                </div>
                            </div>
                        </th>
                        <th colspan="2">
                            <div class="input-group" id="">
                                <div id="" class="custom-input w-100 py-3">
                                    <input type="number"
                                           asp-for="TirePressureAfter"
                                           id=""
                                           class="form-control"
                                           required
                                           pattern="\S+.*" />
                                    <div class="input-text"><label asp-for="TirePressureAfter"></label></div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="4" class="good">
                            Good for Service
                        </th>
                    </tr>
                    <tr>
                        <th class="good"></th>
                        <th colspan="3" class="warning">
                            For Monitoring
                        </th>
                    </tr>
                    <tr>
                        <th class="good"></th>
                        <th class="warning"></th>
                        <th colspan="2" class="danger">
                            Needs Repair
                        </th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td colspan="4" class="category-name">
                            Brakes and Tires
                        </td>
                    </tr>
                    <tr class="condition-row">
                        @foreach (var currentValue in currentValues)
                        {
                            <td class="checkbox-container">
                                <input type="radio" name="BreakLining" id="@currentValue" class="checkbox-item" value="@currentValue" onclick="return false" @(Model.BreakLining == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td>@Html.DisplayNameFor(model => model.BreakLining)</td>
                    </tr>
                    <tr class="condition-row">
                        @foreach (var currentValue in currentValues)
                        {
                            <td class="checkbox-container">
                                <input type="radio" name="TireTread" id="@currentValue" class="checkbox-item" value="@currentValue" onclick="return false" @(Model.TireTread == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td>@Html.DisplayNameFor(model => model.TireTread)</td>
                    </tr>
                    <tr class="condition-row">
                        @foreach (var currentValue in currentValues)
                        {
                            <td class="checkbox-container">
                                <input type="radio" name="WearPattern" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.WearPattern == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td>@Html.DisplayNameFor(model => model.WearPattern)</td>
                    </tr>


                    <tr>
                        <td colspan="4" class="category-name">
                            Remarks
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <textarea class="form-control" placeholder="Leave a comment here" asp-for="Remarks">
                                        </textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete" class="row">
                    <input type="hidden" asp-for="Id" />
                    <div class="col-12 mb-4">
                        <p>To proceed deleting this data. Please type <strong id="confirmValue"></strong>.</p>
                        <div class="input-group" id="">
                            <div id="" class="custom-input w-100">
                                <input type="text"
                                       id="confirmInput"
                                       class="form-control"
                                       required
                                       pattern="\S+.*" />
                                <div class="input-text"><label>Confirmation</label></div>
                            </div>
                        </div>
                        <span><small>Note: This will be remove permanently.</small></span>
                    </div>
                    <div class="col-12">
                        <button type="submit" value="Delete" class="btn btn-danger text-capitalize" disabled id="confirmDelete">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const confirmValue = document.querySelector('#confirmValue');
        const confirmInput = document.querySelector('#confirmInput');
        const btnTrigger = document.querySelector('#confirmDelete')
        confirmValue.innerText = `Proceed to delete`

        confirmInput.addEventListener('change', e => {
            console.log(e.target.value)
            if (e.target.value === confirmValue.innerText) {
                btnTrigger.removeAttribute('disabled')
            }
            else {
                btnTrigger.setAttribute('disabled', '')
            }
        })
    </script>
}
