@model VMNS.Models.Maintenance

@{
    ViewData["Title"] = "Summary Report";
    Layout = "~/Views/Shared/_Body.cshtml";
    var Monitoring = (IEnumerable<Monitoring>)ViewData["Monitoring"];
    var DataA = (IEnumerable<Sub_BatteryPerformance>)ViewData["Sub_BatteryPerformances"];
    // var DataB = (IEnumerable<Sub_BrakeTires>)ViewData["Sub_BrakeTires"];
    var DataC = (IEnumerable<Sub_InteriorExterior>)ViewData["Sub_InteriorExterior"];
    var DataD = (IEnumerable<Sub_UnderHood>)ViewData["Sub_UnderHood"];
    var DataE = (IEnumerable<Sub_UnderVehicle>)ViewData["Sub_UnderVehicle"];
    var DataF = (IEnumerable<Sub_Accessories>)ViewData["Sub_Accessories"];
    int countDataA = DataA.Count();
    // int countDataB = DataB.Count();
    int countDataC = DataC.Count();
    int countDataD = DataD.Count();
    int countDataE = DataE.Count();
    int countDataF = DataF.Count();

    var currentValues = new[] { "Good for Service", "For Monitoring", "Needs Repair" };
    var currentAccessories = new[] { "Existing", "Missing" };



}
<div class="row">
    <div class="offset-9"></div>
    <div class="col-md-12 col-sm-6 col-6  my-auto py-3 position-relative">
        <div class="d-flex justify-content-end">
            <button class="btn btn-sm text-capitalize bg-lra-primary rounded mx-2" id="printBtn"><i class="ri-printer-line"></i> Print Form</button>
            <a asp-controller="Vehicles" asp-action="AdminView" asp-route-id="@ViewData["VehicleId"]" class="btn btn-sm text-capitalize bg-white rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
        </div>
    </div>
</div>

<div class="row justify-content-center bg-white rounded">
    <div class="col-9 my-5">
        <table style="border-collapse: collapse; width: 100%; border: 2px solid black" id="printTable">
            <tbody>
                <tr>
                    <td colspan="6" style="border: 1px solid rgba(0,0,0,0.2);text-align:center;">
                        <p style="margin: 0">
                            Republic of the Philippines
                        </p>
                        <p style="margin: 0">
                            Department of Justice
                        </p>
                        <p style="margin: 0"><strong>LAND REGISTRATION AUTHORITY</strong></p>
                        <p style="margin: 0">Vehicle Summary Report</p>
                    </td>
                    <td colspan="1" valign="top" style="border: 1px solid rgba(0,0,0,0.2); width: 30%;">
                        <p>Date: </p> @Html.DisplayFor(model => model.DateModified)
                        <p>Inspected By @Html.DisplayFor(model => model.InspectorName)</p>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="7" align="center" style="border: 1px solid rgba(0,0,0,0.2);  background-color: black; color: white;"><strong>Vehicle Information</strong></td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Plate Number</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.PlateNo) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Autosweep RFID</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.AutosweepRFID) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Easytrip RFID</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.EasyTripRFID) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2);">Brand</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2);"> @Html.DisplayFor(model => model.Vehicle.Brand) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Model</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.Model)</td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Transmission</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.lu_Transmission.TransmissionName) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Wheel Drive</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.lu_WheelDrive.WheelDrive) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Color</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.Color) </td>
                </tr>
                
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Fuel Type</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.lu_FuelType.FuelName) </td>
                </tr>
                
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Conduction Sticker Number</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.ConductionNo) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Insurance Type</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.InsuranceType) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Insurance Renewal date</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.InsuranceDate) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">LTO Registration date</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.LtoRegDate) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">LTO Due date of Renewal</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.LtoDueDate) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Assigned Officer</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.AssignedOfficer) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Assigned Driver</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Vehicle.AssignedDriver) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Issued date</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">@Html.DisplayFor(model => model.Vehicle.IssuedDate)</td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Acquisition date</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">@Html.DisplayFor(model => model.Vehicle.AquisitionDate)</td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Current Mileage</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">@Html.DisplayFor(model => model.Mileage)</td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Vehicle Cost</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">@Html.DisplayFor(model => model.Vehicle.Cost)</td>
                </tr>
                <tr>
                    <td colspan="7" class="header-table-data" align="center" style="border: 1px solid rgba(0,0,0,0.2);  background-color: black; color: white;"><strong>Prior Body Damage</strong></td>
                </tr>
                <tr style="page-break-after: always">
                    <td colspan="7" style="padding: 10px; height: 400px">
                    </td>
                </tr>
                <tr>
                    <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);">Good</td>
                    <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);">For Monitoring</td>
                    <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);">Needs Repair</td>
                    <td colspan="4" style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);"></td>
                </tr>
                @if (countDataC > 0)
                {
                    <tr>
                        <td colspan="7" class="header-table-data" align="center" ; style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Interior / Exterior</strong></td>
                    </tr>
                }
                
                @foreach (var item in DataC)
                {
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"  @(item.HeadLights == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Head Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.TailLights == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Tail Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.TurnSignals == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Turn Signals</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.BrakeLights == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Brake Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.HazardLights == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Hazard Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.ExteriorLamps == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Exterior Lamps</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.LicensePlatesLights == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">LicensePlates Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.WindshieldWiper == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Windshield Wiper</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.WiperBlades == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Wiper Blades</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.WindshieldCondition == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Windshield Condition</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.EmergencyBrakeAdjustment == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Emergency Brake Adjustment</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.HornOperation == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Horn Operation</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.FuelTankCapBasket == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fuel TankCap Basket</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.AirConGasket == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">AirCon Gasket</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.AirConFilter == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">AirCon Filter</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.ClutchOperation == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Clutch Operation</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.BackupLights == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Backup Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.DashWarningLights == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Dash Warning Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Carpet == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Carpet</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.GlassAndMirrors == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">GlassAndMirrors</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Wiring == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Wiring</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.BatteryVoltage == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Battery Voltage</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.FuelGuage == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fuel Guage</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Indicators == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Indicators (Warnings e.g Battery, Engine Oil, Break System, Seatbelt )</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Odometer == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Odometer</td>
                    </tr>
                }
                @if(countDataD > 0)
                {
                <tr>
                    <td colspan="7" class="header-table-data" align="center" ; style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Under Hood</strong></td>
                </tr>
                }
                @foreach (var item in DataD)
                {
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.FluidLevels == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fluid Levels</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.HeaterHoses == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Heater Hoses</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.AirCondition == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Air Condition</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.DriveBelt == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Drive Belt</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.ComputerBox == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">ComputerBox</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.ElectricFuses == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Electric Fuses</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Alternator == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Alternator</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.CoolantRecoveryReservoirFluidLevel == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Coolant Recovery Reservoir Fluid Level</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.AirConditionerCondenser == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Air Conditioner Condenser</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.CoolingSystemHoses == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Cooling System Hoses</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.EngineAirFilter == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Engine Air Filter</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.ClutchReservoirFluid == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Clutc hReservoir Fluid</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.AuxiliaryBelt == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Auxiliary Belt</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Washer == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Washer</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.RadiatorCore == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">RadiatorCore</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.PowerSteering == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Power Steering</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.BrakeFluid == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Brake Fluid</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.HosesandConnections == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Hoses and Connections</td>
                    </tr>
                }
                @if (countDataE > 0)
                {
                    <tr style="page-break-before: always">
                        <td colspan="7" align="center" class="header-table-data" style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Under Vehicle</strong></td>
                    </tr>
                }
                
                @foreach (var item in DataE)
                {
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.TransmissionFluid == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">TransmissionFluid</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Coolant == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Coolant</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.ExhaustPipes == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Exhaust Pipes</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.TransferCase == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Transfer Case</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.FluidLinesConnections == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fluid Lines Connections</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Wiring == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Wiring</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.EngineOil == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Engine Oil</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.EngineOil == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Parking Brake Cable</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.NutsAndBolts == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Nuts And Bolts</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Muffler == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Muffler</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.ShockAbsorber == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Shock Absorber</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.DriveShaftBoots == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Drive Shaft Boots</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.TransmissionAssembly == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Transmission Assembly</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.UJoints == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">UJoints</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.DustCover == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">DustCover</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Hoses == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Hoses</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.FuelTankVaporVentSystemsHoses == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fuel Tank VaporVent Systems Hoses</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.AutomaticTransmissionFluid == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Automatic Transmission Fluid</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.BrakeLines == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Ball Joints</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.BrakeLines == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Brake Lines</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.CatalyticConverter == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Catalytic Converter</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.ConstantVelocityBoots == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Constant Velocity Boots</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Differential == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Differential</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Differential == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fluid Tank Band</td>
                    </tr>

                }
                @if(countDataA > 0){
                    <tr>
                        <td colspan="7" class="header-table-data" align="center" ; style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Battery and Performance</strong></td>
                    </tr>
                }
                @foreach (var item in DataA)
                {

                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.BatteryTerminal == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Battery Terminal</td>
                    </tr>

                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.ConditionOfBattery == currentValue ? "checked" : "") />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Condtion of Battery</td>
                    </tr>
                }
                

                @if (countDataF > 0)
                {
                    <tr style="page-break-before: always">
                        <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);"></td>
                        <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);">Existing</td>
                        <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);">Missing</td>
                        <td colspan="4" style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);"></td>
                    </tr>
                    <tr>
                        <td colspan="7" align="center" class="header-table-data" style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Accessories</strong></td>
                    </tr>                    
                }
                @foreach (var item in DataF){
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Antennae== currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Antennae</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.AshTray == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">AshTray</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.BackupRearLights == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Backup Rear Lights</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.CigaretteLighter == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Cigarette Lighter</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.DoorGlass == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Door Glass</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.DoorHandles == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Door Handles Front & Rear</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Emblem == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Emblem</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.EngineHood == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Engine Hood</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.FloorMats == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Floor Mats</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.GasTankCap == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Gas Tank Cap</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.HeadRest == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Head Rest</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.HubCaps == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Hub Caps</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.IgnitionSwitch == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Ignition Switch</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.MudGuards == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Mud Guards</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.NamePlate == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Name Plate</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.NamePlateLight == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Name Plate Light</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.ParkingLights == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Parking Lights</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.RadiatorCap == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Radiator Cap</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.RearViewMirror == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Rear View Mirror</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.SideMirrors == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Side Mirrors</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.SpareTire == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Spare Tire & Rim</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.StereoSpeakers == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Stereo Speakers</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.SunVisors == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Sun Visors</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Tools == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Tools</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.TrunkCompartment == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Trunk Compartment</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Upholstery == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Upholstery</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.WindshieldGlass == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Windshield Glass Front & Rear</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.WipeArm == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Wipe Arm & Blade</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.WiperKnob== currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Wiper Knob</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" @(item.Manuals == currentValue ? "checked" : "") /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Manuals</td>
                    </tr>
                }
                
                <tr>
                    <td colspan="7" align="center" class="header-table-data" style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Additonal Information</strong></td>
                </tr>
                <tr>
                    <td colspan="7" style="height: 100px; paddin: 10px">
                        @Html.DisplayFor(model => model.Remarks)
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<script>


    const printBtn = document.querySelector('#printBtn')
    printBtn.addEventListener('click', (e) => {
        const printContent = document.querySelector('#printTable');
        const windowPrintPreview = window.open('');
        windowPrintPreview.document.write(printContent.outerHTML);
        windowPrintPreview.print();
        windowPrintPreview.close();
    })

</script>



