@model VMNS.Models.Maintenance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Body.cshtml";
    var Monitoring = (IEnumerable<Monitoring>)ViewData["Monitoring"];
    var DataA = (IEnumerable<Sub_BatteryPerformance>)ViewData["Sub_BatteryPerformances"];
    var DataB = (IEnumerable<Sub_BrakeTires>)ViewData["Sub_BrakeTires"];
    var DataC = (IEnumerable<Sub_InteriorExterior>)ViewData["Sub_InteriorExterior"];
    var DataD = (IEnumerable<Sub_UnderHood>)ViewData["Sub_UnderHood"];
    var DataE = (IEnumerable<Sub_UnderVehicle>)ViewData["Sub_UnderVehicle"];
    var DataF = (IEnumerable<Sub_Accessories>)ViewData["Sub_Accessories"];

}

<div class="row mt-3">
    <div class="col-md-6 col-sm-4 col-6 my-auto">
        <h2><i class="ri-tools-fill text-lra-primary"></i> Vehicle Maintenance</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-6  my-auto py-3 position-relative">
        <div class="float-end">
            <a asp-area="" asp-controller="Maintenances" asp-action="Index" class="btn btn-sm text-capitalize bg-white box-lra-shadow rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
        </div>
    </div>
    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12  mb-4">
                <div class="rounded p-3 bg-lra-info box-lra-shadow">
                    <div class="d-flex justify-content-between align-items-center p-2">
                        <div>
                            <strong>Plate Number</strong>
                            <h3 class="fw-bolder text-break  m-0" style="font-size:26px">@Html.DisplayFor(model => model.Vehicle.PlateNo)</h3>
                            <span><small>Currently Viewed</small></span>
                        </div>

                        <img src="/@ViewData["VehicleImage"]" height="" width="50%">
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12  mb-4">
                <div class="box-lra-shadow bg-white rounded p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <strong>Date</strong>
                        <span><i class="ri-calendar-check-line dashboard-icon"></i></span>
                    </div>
                    <div>
                        <h1 class="fw-bolder text-break m-0">@Html.DisplayFor(model => model.DateChecked)</h1>
                        <span>
                            <small>Inspected By:</small> @Html.DisplayFor(model => model.InspectorName)
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12  mb-4">
                <div class=" bg-lra-sub-info box-lra-shadow rounded p-3">
                    <div class="d-flex justify-content-between">
                        <strong>Mileage</strong>
                        <span><i class="ri-speed-up-line dashboard-icon"></i></span>
                    </div>
                    <div>
                        <h1 class="fw-bolder text-break m-0">@Html.DisplayFor(model => model.Mileage) Km</h1>
                        <span><small>Distance Travelled</small></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12  mb-4">
                <div class="bg-lra-warning box-lra-shadow rounded p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <strong>Maintenance Description</strong>
                        <span><i class="ri-draft-line dashboard-icon"></i></span>
                    </div>
                    <div>
                        <h1 class="fw-bolder text-break mt-3"><a href="#" class="btn bg-lra-primary rounded text-capitalize" data-bs-toggle="modal" data-bs-target="#staticBackdrop">View All</a></h1>
                       <span><small></small></span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 bg-white p-2">
        <div class="row ">
            <div class="col-12 header-text p-3">
                <h5>Vehicle Parts Condition</h5>
                <div class="mb-4">
                    <span><i class="ri-circle-fill text-lra-primary px-2"></i><label>Good for service</label></span>
                    <span><i class="ri-circle-fill text-lra-warning px-2"></i><label>For Monitoring</label></span>
                    <span><i class="ri-circle-fill text-lra-danger px-2"></i><label>For Repair</label></span>
                </div>
                @if (!User.IsInRole("Administrator"))
                {
                    <div>
                        <a asp-controller="Sub_UnderVehicle" asp-action="Create" asp-route-MaintenanceId=@ViewData["MaintenanceId"]
                        type="button" class="btn btn-light"><i class="ri-add-line"></i> Under Vehicle</a>

                        <a asp-controller="Sub_UnderHood" asp-action="Create" asp-route-MaintenanceId=@ViewData["MaintenanceId"]
                        type="button" class="btn btn-light"><i class="ri-add-line"></i> Under Hood</a>

                        <a asp-controller="Sub_BrakeTires" asp-action="Create" asp-route-MaintenanceId=@ViewData["MaintenanceId"]
                        type="button" class="btn btn-light"><i class="ri-add-line"></i> Brake and Tires</a>

                        <a asp-controller="Sub_InteriorExterior" asp-action="Create" asp-route-MaintenanceId=@ViewData["MaintenanceId"]
                        type="button" class="btn btn-light"><i class="ri-add-line"></i> Interior / Exterior</a>

                        <a asp-controller="Sub_BatteryPerformance" asp-action="Create" asp-route-MaintenanceId=@ViewData["MaintenanceId"]
                        type="button" class="btn btn-light"><i class="ri-add-line"></i> Battery Performance</a>

                        <a asp-controller="Monitorings" asp-action="Create" asp-route-MaintenanceId=@ViewData["MaintenanceId"]
                        type="button" class="btn btn-light"><i class="ri-add-line"></i> Watch List</a>

                        <a asp-controller="Sub_Accessories" asp-action="Create" asp-route-MaintenanceId=@ViewData["MaintenanceId"]
                        type="button" class="btn btn-light"><i class="ri-add-line"></i> Accessories</a>
                    </div>
                }
            </div>

        </div>
        <div class="row">
            @foreach (var item in DataB)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <ul class="list-group p-3 mb-4">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="fw-bold"><i class="ri-car-fill text-lra-primary"></i> @item.lu_Wheel.WheelPosition</div>

                                <div>
                                    @if (!User.IsInRole("Administrator"))
                                    {
                                        <a asp-controller="Sub_BrakeTires" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Sub_BrakeTires" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="ri-delete-bin-7-line"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Break Lining</label>
                            <span class="badge text-status-color rounded-pill">@item.BreakLining</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Tire Tread</label>
                            <span class="badge text-status-color rounded-pill">@item.TireTread</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Wear Pattern</label>
                            <span class="badge text-status-color rounded-pill">@item.WearPattern</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Tire Pressure before</label>
                            <span class="badge text-status-color rounded-pill">@item.TirePressureBefore</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Tire Pressure after</label>
                            <span class="badge text-status-color rounded-pill">@item.TirePressureAfter</span>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group py-4" id="">
                                <div id="" class="custom-input w-100">
                                    <input type="text"
                                           id=""
                                           class="form-control"
                                           value="@item.Remarks"
                                           required
                                           readonly
                                           pattern="\S+.*" />
                                    <div class="input-text"><label>Remarks</label></div>
                                </div>
                            </div>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </li>
                    </ul>
                </div>
            }
        </div>
        <div class="row">
            @foreach (var item in DataD)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <ul class="list-group p-3 mb-4">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="fw-bold"><i class="ri-steering-2-line text-lra-primary"></i> Under Hood</div>
                                <div>
                                    @if (!User.IsInRole("Administrator"))
                                    {
                                        <a asp-controller="Sub_UnderHood" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Sub_UnderHood" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="ri-delete-bin-7-line"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Fluid Levels</label>
                            <span class="badge text-status-color rounded-pill">@item.FluidLevels</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Heater Hoses</label>
                            <span class="badge text-status-color rounded-pill">@item.HeaterHoses</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Air Condition</label>
                            <span class="badge text-status-color rounded-pill">@item.AirCondition</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Drive Belt</label>
                            <span class="badge text-status-color rounded-pill">@item.DriveBelt</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Computer Box</label>
                            <span class="badge text-status-color rounded-pill">@item.ComputerBox</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Electric Fuses</label>
                            <span class="badge text-status-color rounded-pill">@item.ElectricFuses</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Alternator</label>
                            <span class="badge text-status-color rounded-pill">@item.Alternator</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Coolant Recovery Reservoir Fluid Level</label>
                            <span class="badge text-status-color rounded-pill">@item.CoolantRecoveryReservoirFluidLevel</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Air Conditioner Condenser</label>
                            <span class="badge text-status-color rounded-pill">@item.AirConditionerCondenser</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Cooling System Hoses</label>
                            <span class="badge text-status-color rounded-pill">@item.CoolingSystemHoses</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Engine Air Filter</label>
                            <span class="badge text-status-color rounded-pill">@item.EngineAirFilter</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Clutch Reservoir Fluid</label>
                            <span class="badge text-status-color rounded-pill">@item.ClutchReservoirFluid</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Auxiliary Belt</label>
                            <span class="badge text-status-color rounded-pill">@item.AuxiliaryBelt</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Washer</label>
                            <span class="badge text-status-color rounded-pill">@item.Washer</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Radiator Core</label>
                            <span class="badge text-status-color rounded-pill">@item.RadiatorCore</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Power Steering</label>
                            <span class="badge text-status-color rounded-pill">@item.PowerSteering</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Brake Fluid</label>
                            <span class="badge text-status-color rounded-pill">@item.BrakeFluid</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Hose and Connections</label>
                            <span class="badge text-status-color rounded-pill">@item.HosesandConnections</span>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group py-4" id="">
                                <div id="" class="custom-input w-100">
                                    <input type="text"
                                           id=""
                                           class="form-control"
                                           value="@item.Remarks"
                                           required
                                           readonly
                                           pattern="\S+.*" />
                                    <div class="input-text"><label>Remarks</label></div>
                                </div>
                            </div>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </li>
                    </ul>
                </div>

            }
            @foreach (var item in DataE)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <ul class="list-group p-3 mb-4">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="fw-bold"><i class="ri-car-fill text-lra-primary"></i> Under Vehicle</div>
                                <div>
                                    @if (!User.IsInRole("Administrator"))
                                    {
                                        <a asp-controller="Sub_UnderVehicle" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Sub_UnderVehicle" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="ri-delete-bin-7-line"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Transmission Fluid</label>
                            <span class="badge text-status-color rounded-pill">@item.TransmissionFluid</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Coolant</label>
                            <span class="badge text-status-color rounded-pill">@item.Coolant</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Exhaust Pipes</label>
                            <span class="badge text-status-color rounded-pill">@item.ExhaustPipes</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Transfer Case</label>
                            <span class="badge text-status-color rounded-pill">@item.TransferCase</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Fluid Lines Connections</label>
                            <span class="badge text-status-color rounded-pill">@item.FluidLinesConnections</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Wiring</label>
                            <span class="badge text-status-color rounded-pill">@item.Wiring</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Engine Oil</label>
                            <span class="badge text-status-color rounded-pill">@item.EngineOil</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Parking Brake Cable</label>
                            <span class="badge text-status-color rounded-pill">@item.ParkingBrakeCable</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Nuts and Bolts</label>
                            <span class="badge text-status-color rounded-pill">@item.NutsAndBolts</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Muffler</label>
                            <span class="badge text-status-color rounded-pill">@item.Muffler</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Shock Absorber</label>
                            <span class="badge text-status-color rounded-pill">@item.ShockAbsorber</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Drive Shaft Boots</label>
                            <span class="badge text-status-color rounded-pill">@item.DriveShaftBoots</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Transmission Assembly</label>
                            <span class="badge text-status-color rounded-pill">@item.TransmissionAssembly</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>U Joints</label>
                            <span class="badge text-status-color rounded-pill">@item.UJoints</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Dust Cover</label>
                            <span class="badge text-status-color rounded-pill">@item.DustCover</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Hoses</label>
                            <span class="badge text-status-color rounded-pill">@item.Hoses</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Fuel Tank Vapor Vent Systems Hoses</label>
                            <span class="badge text-status-color rounded-pill">@item.FuelTankVaporVentSystemsHoses</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Fluid Tank Band</label>
                            <span class="badge text-status-color rounded-pill">@item.FluidTankBand</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Automatic Transmission Fluid</label>
                            <span class="badge text-status-color rounded-pill">@item.AutomaticTransmissionFluid</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Ball Joints</label>
                            <span class="badge text-status-color rounded-pill">@item.BallJoints</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Brake Lines</label>
                            <span class="badge text-status-color rounded-pill">@item.BrakeLines</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Catalytic Converter</label>
                            <span class="badge text-status-color rounded-pill">@item.CatalyticConverter</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Constant Velocity Boots</label>
                            <span class="badge text-status-color rounded-pill">@item.ConstantVelocityBoots</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Differential</label>
                            <span class="badge text-status-color rounded-pill">@item.Differential</span>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group py-4" id="">
                                <div id="" class="custom-input w-100">
                                    <input type="text"
                                           id=""
                                           class="form-control"
                                           value="@item.Remarks"
                                           required
                                           readonly
                                           pattern="\S+.*" />
                                    <div class="input-text"><label>Remarks</label></div>
                                </div>
                            </div>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </li>
                    </ul>
                </div>
            }
            @foreach (var item in DataC)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <ul class="list-group p-3 mb-4">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="fw-bold"><i class="ri-car-fill text-lra-primary"></i>  Interior / Exterior</div>
                                <div>
                                    @if (!User.IsInRole("Administrator"))
                                    {
                                        <a asp-controller="Sub_InteriorExterior" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Sub_InteriorExterior" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="ri-delete-bin-7-line"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Head Lights</label>
                            <span class="badge text-status-color rounded-pill">@item.HeadLights</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Tail Lights</label>
                            <span class="badge text-status-color rounded-pill">@item.TailLights</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Tail Lights</label>
                            <span class="badge text-status-color rounded-pill">@item.TurnSignals</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Brake Lights</label>
                            <span class="badge text-status-color rounded-pill">@item.BrakeLights</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Hazard Lights</label>
                            <span class="badge text-status-color rounded-pill">@item.HazardLights</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Exterior Lamps</label>
                            <span class="badge text-status-color rounded-pill">@item.ExteriorLamps</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>License Plates Lights</label>
                            <span class="badge text-status-color rounded-pill">@item.LicensePlatesLights</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Windshield Wiper</label>
                            <span class="badge text-status-color rounded-pill">@item.WindshieldWiper</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Wiper Blades</label>
                            <span class="badge text-status-color rounded-pill">@item.WiperBlades</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Wipershield Condition</label>
                            <span class="badge text-status-color rounded-pill">@item.WindshieldCondition</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Emergency Brake Adjustment</label>
                            <span class="badge text-status-color rounded-pill">@item.EmergencyBrakeAdjustment</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Horn Operation</label>
                            <span class="badge text-status-color rounded-pill">@item.HornOperation</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Fuel Tank Cap Basket</label>
                            <span class="badge text-status-color rounded-pill">@item.FuelTankCapBasket</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Air Condition Gasket</label>
                            <span class="badge text-status-color rounded-pill">@item.AirConGasket</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Air Condition Filter</label>
                            <span class="badge text-status-color rounded-pill">@item.AirConFilter</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Clutch Operation</label>
                            <span class="badge text-status-color rounded-pill">@item.ClutchOperation</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Back up Lights</label>
                            <span class="badge text-status-color rounded-pill">@item.BackupLights</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Dash warning Lights</label>
                            <span class="badge text-status-color rounded-pill">@item.DashWarningLights</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Carpet</label>
                            <span class="badge text-status-color rounded-pill">@item.Carpet</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Odometer</label>
                            <span class="badge text-status-color rounded-pill">@item.Odometer</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Fuel Guage</label>
                            <span class="badge text-status-color rounded-pill">@item.FuelGuage</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Battery Voltage</label>
                            <span class="badge text-status-color rounded-pill">@item.BatteryVoltage</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Indicators (Warnings e.g Battery, Engine Oil, Break System, Seatbelt )</label>
                            <span class="badge text-status-color rounded-pill">@item.Indicators</span>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group py-4" id="">
                                <div id="" class="custom-input w-100">
                                    <input type="text"
                                           id=""
                                           class="form-control"
                                           value="@item.Remarks"
                                           required
                                           readonly
                                           pattern="\S+.*" />
                                    <div class="input-text"><label>Remarks</label></div>
                                </div>
                            </div>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </li>
                    </ul>
                </div>
            }
        </div>
        <div class="row"> 
            @foreach (var item in DataF)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <ul class="list-group p-3 mb-4">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="fw-bold"><i class="ri-battery-2-charge-fill text-lra-primary"></i> Accessories</div>
                                <div>
                                    @if (!User.IsInRole("Administrator"))
                                    {
                                        <a asp-controller="Sub_Accessories" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Sub_Accessories" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="ri-delete-bin-7-line"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Antennae</label>
                            <span class="badge text-status-color rounded-pill">@item.Antennae</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Ash Tray
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.AshTray</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Backup Rear Lights
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.BackupRearLights</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Cigarette Lighter
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.CigaretteLighter</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Door Glass
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.DoorGlass</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Door Handles Front & Rear
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.DoorHandles</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Emblem
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.Emblem</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Engine Hood
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.EngineHood</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Floor Mats
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.FloorMats</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Gas Tank Cap
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.GasTankCap</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Head Rest
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.HeadRest</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Hub Caps
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.HubCaps</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Mud Guards
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.MudGuards</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Name Plate
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.NamePlate</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Name Plate Light
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.NamePlateLight</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Parking Lights
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.ParkingLights</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Radiator Cap
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.RadiatorCap</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Rear View Mirror
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.RearViewMirror</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Side Mirrors
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.SideMirrors</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Spare Tire & Rim
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.SpareTire</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Stereo Speakers
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.StereoSpeakers</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Sun Visors
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.SunVisors</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Tools
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.Tools</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Trunk Compartment
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.TrunkCompartment</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Upholstery
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.Upholstery</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Windshield Glass Front & Rear
                            </label>
                            <span class="badge text-status-color rounded-pill">
                                @item.WindshieldGlass
                            </span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Wipe Arm & Blade
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.WipeArm</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Wiper Knob
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.WiperKnob</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>
                                Manuals
                            </label>
                            <span class="badge text-status-color rounded-pill">@item.Manuals</span>
                        </li>


                    </ul>
                </div>
            }
            @foreach (var item in DataA)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <ul class="list-group p-3 mb-4">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="fw-bold"><i class="ri-battery-2-charge-fill text-lra-primary"></i> Battery Performance</div>
                                <div>
                                    @if (!User.IsInRole("Administrator"))
                                    {
                                        <a asp-controller="Sub_BatteryPerformance" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Sub_BatteryPerformance" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="ri-delete-bin-7-line"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Battery Terminal</label>
                            <span class="badge text-status-color rounded-pill">@item.BatteryTerminal</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Condition of Battery</label>
                            <span class="badge text-status-color rounded-pill">@item.ConditionOfBattery</span>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group py-4" id="">
                                <div id="" class="custom-input w-100">
                                    <input type="text"
                                           id=""
                                           class="form-control"
                                           value="@item.Remarks"
                                           required
                                           readonly
                                           pattern="\S+.*" />
                                    <div class="input-text"><label>Remarks</label></div>
                                </div>
                            </div>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </li>
                    </ul>
                </div>
            }
     @*    </div>
        
        <div class="row"> *@
            @foreach (var item in Monitoring)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <ul class="list-group p-3 mb-4">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="fw-bold">@item.Replacement.Parts</div>
                                <div>
                                    @if (!User.IsInRole("Administrator"))
                                    {
                                        <a asp-controller="Monitorings" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Monitorings" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="ri-delete-bin-7-line"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Acquired Date</label>
                            <span class="badge text-status-color rounded-pill date-aqcuired">@item.DateAcquired.ToShortDateString()</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <label>Replaced Date </label>
                            <span class="badge text-status-color rounded-pill date-replacement">@item.EndDate.Value.ToShortDateString()</span>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="ri-draft-line text-lra-primary"></i> Vehice remarks</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-12">
                        <div class="input-group mb-4" id="">
                        <div id="" class="custom-input w-100">
                            <input type="text"
                                   id=""
                                   class="form-control"
                                       value="@Html.DisplayFor(model => model.Remarks)"
                                   required
                                   readonly
                                   pattern="\S+.*" />
                                <div class="input-text"><i class="ri-tools-fill text-lra-primary"></i><label>Maintenance remarks</label></div>
                        </div>
                    </div>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
                @foreach (var item in DataA)
                {
                    <div class="col-12">
                        <div class="input-group mb-4" id="">
                            <div id="" class="custom-input w-100">
                                <input type="text"
                                        id=""
                                        class="form-control"
                                        value="@item.Remarks"
                                        required
                                        readonly
                                        pattern="\S+.*" />
                                    <div class="input-text"><i class="ri-battery-2-charge-fill text-lra-primary"></i> <label>Battery Performance remarks</label></div>
                            </div>
                        </div>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                }
                 @foreach (var item in DataE)
                {
                    <div class="col-12">
                        <div class="input-group mb-4" id="">
                            <div id="" class="custom-input w-100">
                                <input type="text"
                                        id=""
                                        class="form-control"
                                        value="@item.Remarks"
                                        required
                                        readonly
                                        pattern="\S+.*" />
                                    <div class="input-text"><i class="ri-car-fill text-lra-primary"></i> <label>Under Vehicle remarks</label></div>
                            </div>
                        </div>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                }
                @foreach (var item in DataD)
                {
                    <div class="col-12">
                        <div class="input-group mb-3" id="">
                            <div id="" class="custom-input w-100">
                                <input type="text"
                                        id=""
                                        class="form-control"
                                        value="@item.Remarks"
                                        required
                                        readonly
                                        pattern="\S+.*" />
                                    <div class="input-text"><i class="ri-steering-2-line text-lra-primary"></i> <label>Underhood remarks</label></div>
                            </div>
                        </div>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                }
                @foreach (var item in DataC)
                {
                    <div class="col-12">
                        <div class="input-group mb-3" id="">
                            <div id="" class="custom-input w-100">
                                <input type="text"
                                        id=""
                                        class="form-control"
                                        value="@item.Remarks"
                                        required
                                        readonly
                                        pattern="\S+.*" />
                                    <div class="input-text"><i class="ri-car-fill text-lra-primary"></i>  <label>Interior / Exterior remarks</label></div>
                            </div>
                        </div>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                }
                @foreach (var item in DataB)
                {
                    <div class="col-12">
                        <div class="input-group mb-3" id="">
                            <div id="" class="custom-input w-100">
                                <input type="text"
                                        id=""
                                        class="form-control"
                                        value="@item.Remarks"
                                        required
                                        readonly
                                        pattern="\S+.*" />
                                    <div class="input-text"><i class="ri-car-fill text-lra-primary"></i> <label>@item.lu_Wheel.WheelPosition remarks</label></div>
                            </div>
                        </div>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                }   
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        // const calculateReplacementDate = async(dateAqcuired, dateReplacement) => {
        //     const setDateReplacement = await dateReplacement
        //     const setDateAqcuired = await dateAqcuired
        //     setDateAqcuired.map(date => {
        //         if(!date.innerText == ""){
        //             let formatValue = new Date(date.innerText).toLocaleString()
        //             date.innerText = formatValue
        //         }
        //     })
        // }
        // calculateReplacementDate(document.querySelectorAll('.date-aqcuired'), document.querySelectorAll('.date-replacement'))


        const itemsStatus = document.querySelectorAll('.text-status-color')

        const partsCondition = async (items) => {
            try {
                await items.forEach(item => {
                    switch (item.innerText) {
                        case "Good for Service":
                            // item.style.backgroundColor = "#93c54b"
                            item.style.backgroundColor = "#1e325c"
                            break;
                        case "For Monitoring":
                            //item.style.backgroundColor = "#ffff33"
                            item.style.backgroundColor = "#FFB41B"
                            item.style.color = "#1E325C"

                            break;
                        case "Needs Repair":
                            // item.style.backgroundColor = "#cd5c5c"
                            item.style.backgroundColor = "#92140C"
                            break;
                        case "Existing":
                            // item.style.backgroundColor = "#93c54b"
                            item.style.backgroundColor = "#1e325c"
                            break;
                        default:
                            item.style.color = "#494949"
                            item.style.backgroundColor = "#f2f2f2"
                    }
                })
            } catch (error) {
                console.log(error)
            }

        }
        partsCondition(itemsStatus)



      
    </script>
}
