@model IEnumerable<VMNS.Models.Maintenance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Body.cshtml";
}
<div class="row mt-3">
    <div class="col-md-6 col-sm-4 col-6 my-auto">
        <h2><i class="ri-tools-fill text-lra-primary"></i> Maintenance History</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-6  my-auto py-3 position-relative">
        <div class="float-end">
            <a asp-controller="Vehicles" asp-action="AdminView" asp-route-selectedValue=@ViewData["VehicleId"] class="btn btn-sm text-capitalize bg-white fw-bold rounded box-lra-shadow"><i class="ri-arrow-go-back-line"></i> Go Back</a>
        </div>
    </div>
</div>
@if (!User.IsInRole("Administrator"))
{
    <form asp-controller="Maintenances" asp-action="History" method="post">
        <div class="row px-3">
            <div class="col-md-12 bg-white rounded box-lra-shadow mb-4 p-3 border-lra">
                <div class="col-lg-6 col-12 ">
                    <div class="input-group" id="">
                        <div id="" class="custom-input w-100">
                            <select name="selectedValue" asp-items="@(ViewData["VehicleId"] as SelectList)">
                                <option value="">Select Plate Number</option>
                            </select>
                            <div class="input-text"><label>Plate Number</label></div>
                            <button type="submit" class="btn btn-sm text-capitalize text-white bg-lra-primary mx-4 rounded">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        
    </form>
}



<div class="row px-3">
    <div class="col-12 bg-white box-lra-shadow rounded p-3">
        <table class="custom-table table table-hover" id="myTable" width="100%" cellspacing="0" data-page-length='10'>
            <thead class="table-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehicle.PlateNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehicle.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateChecked)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mileage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InspectorName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Remarks)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle.PlateNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateChecked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mileage)
                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InspectorName)
                        </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                            <a asp-action="DetailsHistory" asp-route-id="@item.Id" class="btn btn-default btn-circle btn-sm" data-toggle="tooltip" data-placement="top" title="Details">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
