@model VMNS.Models.Sub_Accessories

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sub_Accessories</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antennae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antennae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AshTray)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AshTray)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackupRearLights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackupRearLights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CigaretteLighter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CigaretteLighter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoorGlass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoorGlass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoorHandles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoorHandles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emblem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emblem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineHood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineHood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorMats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorMats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasTankCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasTankCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadRest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadRest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HubCaps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HubCaps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IgnitionSwitch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IgnitionSwitch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MudGuards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MudGuards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePlateLight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePlateLight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingLights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingLights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadiatorCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadiatorCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RearViewMirror)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RearViewMirror)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SideMirrors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SideMirrors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpareTire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpareTire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StereoSpeakers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StereoSpeakers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SunVisors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SunVisors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tools)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tools)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrunkCompartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrunkCompartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Upholstery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Upholstery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindshieldGlass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindshieldGlass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WipeArm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WipeArm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WiperKnob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WiperKnob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maintenance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maintenance.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
