@model VMNS.Models.Sub_Accessories

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentValues = new[] { "Existing", "Missing" };
}

<form asp-action="Edit">
    <div class="row mt-3">
        <input type="hidden" asp-for="Id" />
        <div class="col-md-6 col-sm-4 col-6 my-auto">
            <h2><i class="ri-battery-2-charge-fill text-lra-primary"></i> Accessories</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-6  my-auto  position-relative">
            <div class="float-end">
                <a asp-area="" asp-controller="Maintenances" asp-action="Details" asp-route-Id=@ViewData["MaintenanceId"] class="btn btn-sm text-capitalize bg-white box-lra-shadow rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
                <button type="submit" class="btn btn-sm text-white text-capitalize bg-lra-primary box-lra-shadow rounded "><i class="ri-save-line"></i> Save</button>
            </div>
        </div>
        <div class="col-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row bg-white box-lra-shadow rounded d-flex justify-content-center pt-4">
            <div class="col-lg-7 col-sm-7 col-12">
                <div class="row">
                    <div class="col-12">
                        <input type="text"
                               asp-for="MaintenanceId"
                               id=""
                               class="form-control"
                               required
                               readonly
                               hidden
                               pattern="\S+.*" />
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th colspan="4" class="good text-white">
                                        Existing
                                    </th>
                                </tr>
                                <tr>
                                    <th class="good"></th>
                                    <th colspan="3" class="warning">
                                        Missing
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="4" class="category-name">
                                        Accessories
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="Antennae" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.Antennae == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.Antennae)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="AshTray" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.AshTray == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.AshTray)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="BackupRearLights" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.BackupRearLights == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.BackupRearLights)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="CigaretteLighter" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.CigaretteLighter == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.CigaretteLighter)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="DoorGlass" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.DoorGlass == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.DoorGlass)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="DoorHandles" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.DoorHandles == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.DoorHandles)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="Emblem" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.Emblem == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.Emblem)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="EngineHood" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.EngineHood == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.EngineHood)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="FloorMats" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.FloorMats == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.FloorMats)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="GasTankCap" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.GasTankCap == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.GasTankCap)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="HeadRest" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.HeadRest == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.HeadRest)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="HubCaps" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.HubCaps == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.HubCaps)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="IgnitionSwitch" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.IgnitionSwitch == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.IgnitionSwitch)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="MudGuards" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.MudGuards == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.MudGuards)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="NamePlate" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.NamePlate == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.NamePlate)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="NamePlateLight" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.NamePlateLight == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.NamePlateLight)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="ParkingLights" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.ParkingLights == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.ParkingLights)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="RadiatorCap" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.RadiatorCap == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.RadiatorCap)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="RearViewMirror" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.RearViewMirror == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.RearViewMirror)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="SideMirrors" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.SideMirrors == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.SideMirrors)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="SpareTire" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.SpareTire == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.SpareTire)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="StereoSpeakers" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.StereoSpeakers == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.StereoSpeakers)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="SunVisors" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.SunVisors == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.SunVisors)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="Tools" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.Tools == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.Tools)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="TrunkCompartment" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.TrunkCompartment == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.TrunkCompartment)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="Upholstery" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.Upholstery == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.Upholstery)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="WindshieldGlass" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.WindshieldGlass == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.WindshieldGlass)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="WipeArm" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.WipeArm == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.WipeArm)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="WiperKnob" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.WiperKnob == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.WiperKnob)</td>
                                </tr>
                                <tr class="availability-row">
                                    @foreach (var currentValue in currentValues)
                                    {
                                        <td class="checkbox-container">
                                            <input type="radio" name="Manuals" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.Manuals == currentValue ? "checked" : "") />

                                        </td>
                                    }
                                    <td>@Html.DisplayNameFor(model => model.Manuals)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
