@model VMNS.Models.Sub_BatteryPerformance

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Body.cshtml";
    var currentValues = new[] { "Good for Service", "For Monitoring", "Needs Repair" };

}
<form class="row" asp-action="Create">
    <div class="col-md-6 col-sm-4 col-6 my-auto">
        <h2>Battery Performance</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-6  my-auto py-3 position-relative">
        <div class="float-end">
            <a asp-area="" asp-controller="Maintenances" asp-action="Details" asp-route-Id=@ViewData["MaintenanceId"] class="btn btn-sm text-capitalize border rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
            <button asp-action="Create" type="submit" class="btn btn-sm bg-dark text-white text-capitalize border rounded "><i class="ri-save-line"></i> Save</button>
        </div>
    </div>
    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="col-lg-7 col-sm-7 col-12">
        <div class="row">
            <div class="col-12">
                <input type="text"
                       asp-for="MaintenanceId"
                       id=""
                       class="form-control"
                       required
                       readonly
                       hidden
                       pattern="\S+.*" />
                <table class="table table-bordered table-borderless">
                    <thead>
                        <tr>
                            <th colspan="4" class="good">
                                Good for Service
                            </th>
                        </tr>
                        <tr>
                            <th class="good"></th>
                            <th colspan="3" class="warning">
                                For Monitoring
                            </th>
                        </tr>
                        <tr>
                            <th class="good"></th>
                            <th class="warning"></th>
                            <th colspan="2" class="danger">
                                Needs Repair
                            </th>
                        </tr>
                        <tr>
                            <th colspan="4" class="category-name">
                                Battery and Performance
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="condition-row">
                            @foreach (var currentValue in currentValues)
                            {
                                <td class="checkbox-container">
                                    <input type="radio" name="BatteryTerminal" id="@currentValue" class="checkbox-item" value="@currentValue" />

                                </td>
                            }
                            <td>@Html.DisplayNameFor(model => model.BatteryTerminal)</td>
                        </tr>
                        <tr class="condition-row">
                            @foreach (var currentValue in currentValues)
                            {
                                <td class="checkbox-container">
                                    <input type="radio" name="ConditionOfBattery" id="@currentValue" class="checkbox-item" value="@currentValue" />

                                </td>
                            }
                            <td>@Html.DisplayNameFor(model => model.ConditionOfBattery)</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="category-name">
                                Remarks
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <textarea class="form-control" placeholder="Leave a comment here" asp-for="Remarks">
                                    </textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
