@model VMNS.Models.Sub_UnderHood

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Body.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sub_UnderHood</h4>
    <hr />
   @*  <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShockAbosrber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShockAbosrber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteeringBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteeringBox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BallJoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BallJoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linkage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linkage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DustCovers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DustCovers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Muffler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Muffler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatalyticConverter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatalyticConverter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnginceOil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginceOil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrakeLines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrakeLines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingBrakeCable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingBrakeCable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriveShaftBoots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriveShaftBoots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstantVelocityBoots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstantVelocityBoots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UJoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UJoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransmissionLinkage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransmissionLinkage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Differential)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Differential)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferCase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferCase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maintenance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maintenance.Id)
        </dd>
    </dl> *@
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
