@model VMNS.Models.Vehicle

@{
    ViewData["Title"] = "Summary Report";
    Layout = "~/Views/Shared/_Body.cshtml";  
    var currentValues = new[] { "Good for Service", "For Monitoring", "Needs Repair" };
    var currentAccessories = new[] { "Existing", "Missing" };



}
<div class="row">
    <div class="col-md-9 col-sm-4 col-6 my-auto">
        <h2>
            <i class="ri-printer-fill text-lra-primary"></i>Vehicle Parts Inspection Form
        </h2>
    </div>
    <div class="col-md-3 col-sm-6 col-6  my-auto py-3 position-relative">
        <div class="d-flex justify-content-end">
            <button class="btn btn-sm text-capitalize bg-lra-primary rounded mx-2" id="printBtn"><i class="ri-printer-line"></i> Print Data</button>
            <a asp-controller="Vehicles" asp-action="AdminView" asp-route-id="@ViewData["MaintenanceId"]" class="btn btn-sm text-capitalize bg-white rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
        </div>
    </div>
</div>

<div class="row justify-content-center bg-white rounded">
    <div class="col-9 mt-3">
        <form asp-controller="Vehicles" asp-action="MotorpoolCheckform" method="post">
            <div class="row px-3">
                <div class="col-md-12 bg-white rounded box-lra-shadow mb-4 p-3 border-lra">
                    <div class="col-lg-6 col-12 ">
                        <div class="input-group" id="">
                            <div id="" class="custom-input w-100">
                                <select name="selectedValue" asp-items="@(ViewData["VehicleId"] as SelectList)">
                                    <option value="">Select Plate Number</option>
                                </select>
                                <div class="input-text"><label>Plate Number</label></div>
                                <button type="submit" class="btn btn-sm text-capitalize text-white bg-lra-primary mx-4 rounded">Search info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-9 mb-5">
        <table style="border-collapse: collapse; width: 100%; border: 2px solid black" id="printTable">
            <tbody>
                <tr>
                    <td colspan="6" style="border: 1px solid rgba(0,0,0,0.2);text-align:center;">
                        <p style="margin: 0">
                            Republic of the Philippines
                        </p>
                        <p style="margin: 0">
                            Department of Justice
                        </p>
                        <p style="margin: 0"><strong>LAND REGISTRATION AUTHORITY</strong></p>
                        <p style="margin: 0">Vehicle Summary Report</p>
                    </td>
                    <td colspan="1" valign="top" style="border: 1px solid rgba(0,0,0,0.2); width: 30%;">
                        <p>Date: <span id="currentDate"></span></p>
                        <p>Inspected by</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="7" align="center" style="border: 1px solid rgba(0,0,0,0.2);  background-color: black; color: white;"><strong>Vehicle Information</strong></td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Plate Number</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.PlateNo) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Autosweep RFID</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.AutosweepRFID) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Easytrip RFID</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.EasyTripRFID) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2);">Brand</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2);"> @Html.DisplayFor(model => model.Brand) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Model</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Model)</td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Transmission</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.lu_Transmission.TransmissionName) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Wheel Drive</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.lu_WheelDrive.WheelDrive) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Color</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.Color) </td>
                </tr>

                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Fuel Type</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.lu_FuelType.FuelName) </td>
                </tr>

                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Conduction Sticker Number</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.ConductionNo) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Insurance Type</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.InsuranceType) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Insurance Renewal date</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.InsuranceDate) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">LTO Registration date</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.LtoRegDate) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">LTO Due date of Renewal</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.LtoDueDate) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Assigned Officer</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.AssignedOfficer) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Assigned Driver</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"> @Html.DisplayFor(model => model.AssignedDriver) </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Issued date</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">@Html.DisplayFor(model => model.IssuedDate)</td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Acquisition date</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">@Html.DisplayFor(model => model.AquisitionDate)</td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Current Mileage</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)"></td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 1px solid rgba(0,0,0,0.2)">Vehicle Cost</td>
                    <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">@Html.DisplayFor(model => model.Cost)</td>
                </tr>
                <tr>
                    <td colspan="7" class="header-table-data" align="center" style="border: 1px solid rgba(0,0,0,0.2);  background-color: black; color: white;"><strong>Prior Body Damage</strong></td>
                </tr>
                <tr style="page-break-after: always">
                    <td colspan="7" style="padding: 10px; height: 400px">
                    </td>
                </tr>
                <tr>
                    <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);">Good</td>
                    <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);">For Monitoring</td>
                    <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);">Needs Repair</td>
                    <td colspan="4" style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);"></td>
                </tr>
                
                    <tr>
                        <td colspan="7" class="header-table-data" align="center" ; style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Interior / Exterior</strong></td>
                    </tr>
                

                
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Head Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Tail Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Turn Signals</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Brake Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Hazard Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Exterior Lamps</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">LicensePlates Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Windshield Wiper</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Wiper Blades</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Windshield Condition</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Emergency Brake Adjustment</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Horn Operation</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fuel TankCap Basket</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">AirCon Gasket</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">AirCon Filter</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Clutch Operation</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Backup Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Dash Warning Lights</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Carpet</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">GlassAndMirrors</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Wiring</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Battery Voltage</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fuel Guage</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Indicators (Warnings e.g Battery, Engine Oil, Break System, Seatbelt )</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Odometer</td>
                    </tr>
                
                
                    <tr>
                        <td colspan="7" class="header-table-data" align="center" ; style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Under Hood</strong></td>
                    </tr>
                
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fluid Levels</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Heater Hoses</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Air Condition</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Drive Belt</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"  />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">ComputerBox</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Electric Fuses</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Alternator</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Coolant Recovery Reservoir Fluid Level</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Air Conditioner Condenser</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Cooling System Hoses</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Engine Air Filter</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Clutc hReservoir Fluid</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Auxiliary Belt</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Washer</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">RadiatorCore</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Power Steering</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Brake Fluid</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Hoses and Connections</td>
                    </tr>
                
                    <tr style="page-break-before: always">
                        <td colspan="7" align="center" class="header-table-data" style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Under Vehicle</strong></td>
                    </tr>
                
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/>
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">TransmissionFluid</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Coolant</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Exhaust Pipes</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Transfer Case</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fluid Lines Connections</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Wiring</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Engine Oil</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Parking Brake Cable</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Nuts And Bolts</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Muffler</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Shock Absorber</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Drive Shaft Boots</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Transmission Assembly</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">UJoints</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">DustCover</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Hoses</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fuel Tank VaporVent Systems Hoses</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Automatic Transmission Fluid</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Ball Joints</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Brake Lines</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Catalytic Converter</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Constant Velocity Boots</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Differential</td>
                    </tr>
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Fluid Tank Band</td>
                    </tr>

                    <tr>
                        <td colspan="7" class="header-table-data" align="center" ; style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Battery and Performance</strong></td>
                    </tr>
                
                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Battery Terminal</td>
                    </tr>

                    <tr>
                        @foreach (var currentValue in currentValues)
                        {
                            <td align="center" style="border: 1px solid rgba(0,0,0,0.2)">
                                <input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" />
                            </td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Condtion of Battery</td>
                    </tr>
                

                    <tr style="page-break-before: always">
                        <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);"></td>
                        <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);">Existing</td>
                        <td style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);">Missing</td>
                        <td colspan="4" style="border-top: 2px solid rgba(0,0,0,1); border-right: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); border-left: 1px solid rgba(0,0,0,0.2);"></td>
                    </tr>
                    <tr>
                        <td colspan="7" align="center" class="header-table-data" style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Accessories</strong></td>
                    </tr>
               
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Antennae</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">AshTray</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Backup Rear Lights</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Cigarette Lighter</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Door Glass</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Door Handles Front & Rear</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Emblem</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Engine Hood</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Floor Mats</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Gas Tank Cap</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"  /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Head Rest</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Hub Caps</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Ignition Switch</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Mud Guards</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Name Plate</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Name Plate Light</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false" /></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Parking Lights</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Radiator Cap</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Rear View Mirror</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Side Mirrors</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Spare Tire & Rim</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Stereo Speakers</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Sun Visors</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Tools</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Trunk Compartment</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Upholstery</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Windshield Glass Front & Rear</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Wipe Arm & Blade</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Wiper Knob</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,0,0,0.2)"></td>
                        @foreach (var currentValue in currentAccessories)
                        {
                            <td style="border: 1px solid rgba(0,0,0,0.2)"><input type="checkbox" class="checkbox-item" value="@currentValue" onclick="return false"/></td>
                        }
                        <td colspan="4" style="border: 1px solid rgba(0,0,0,0.2)">Manuals</td>
                    </tr>
                

                <tr>
                    <td colspan="7" align="center" class="header-table-data" style="border: 1px solid rgba(0,0,0,0.2); background-color: black; color: white;"><strong>Additonal Information</strong></td>
                </tr>
                <tr>
                    <td colspan="7" style="height: 100px; paddin: 10px">
                       
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<script>
    const currentDate = document.querySelector('#currentDate')
    currentDate.innerText = new Date().toLocaleDateString();

    const printBtn = document.querySelector('#printBtn')
    printBtn.addEventListener('click', (e) => {
        const printContent = document.querySelector('#printTable');
        const windowPrintPreview = window.open('');
        windowPrintPreview.document.write(printContent.outerHTML);
        windowPrintPreview.print();
        windowPrintPreview.close();
    })

    

</script>