@model VMNS.Models.Sub_UnderVehicle

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Body.cshtml";
}
<div class="row">
    <div class="col-md-6 col-sm-4 col-6 my-auto">
        <h2>Under Vehicle</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-6  my-auto py-3 position-relative">
        <div class="float-end">
            <a asp-area="" asp-controller="Maintenances" asp-action="Details" asp-route-Id=@ViewData["MaintenanceId"] class="btn btn-sm text-capitalize border rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
            <button type="button" class="btn btn-sm text-capitalize border rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="ri-delete-bin-7-line"></i> Delete</button>
            <a asp-area="" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm bg-dark text-white text-capitalize border rounded "><i class="ri-edit-box-line"></i> Edit</a>
        </div>
    </div>
    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="col-lg-7 col-sm-7 col-12">
        <div class="row">
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id="targetValue"
                               class="form-control"
                               value="@Html.DisplayFor(model => model.Maintenance.Id)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="MaintenanceId"></label></div>
                    </div>
                </div>
                <span asp-validation-for="MaintenanceId" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.TransmissionFluid)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="TransmissionFluid"></label></div>
                    </div>
                </div>
                <span asp-validation-for="TransmissionFluid" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.Coolant)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="Coolant"></label></div>
                    </div>
                </div>
                <span asp-validation-for="Coolant" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.ExhaustPipes)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="ExhaustPipes"></label></div>
                    </div>
                </div>
                <span asp-validation-for="ExhaustPipes" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.TransferCase)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="TransferCase"></label></div>
                    </div>
                </div>
                <span asp-validation-for="TransferCase" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.FluidLinesConnections)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="FluidLinesConnections"></label></div>
                    </div>
                </div>
                <span asp-validation-for="FluidLinesConnections" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.Wiring)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="Wiring"></label></div>
                    </div>
                </div>
                <span asp-validation-for="Wiring" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.EngineOil)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="EngineOil"></label></div>
                    </div>
                </div>
                <span asp-validation-for="EngineOil" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.ParkingBrakeCable)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="ParkingBrakeCable"></label></div>
                    </div>
                </div>
                <span asp-validation-for="ParkingBrakeCable" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.NutsAndBolts)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="NutsAndBolts"></label></div>
                    </div>
                </div>
                <span asp-validation-for="NutsAndBolts" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.Muffler)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="Muffler"></label></div>
                    </div>
                </div>
                <span asp-validation-for="Muffler" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.ShockAbsorber)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="ShockAbsorber"></label></div>
                    </div>
                </div>
                <span asp-validation-for="ShockAbsorber" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.TransmissionAssembly
)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="TransmissionAssembly"></label></div>
                    </div>
                </div>
                <span asp-validation-for="TransmissionAssembly" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.UJoints)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="UJoints"></label></div>
                    </div>
                </div>
                <span asp-validation-for="UJoints" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.DustCover)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="DustCover"></label></div>
                    </div>
                </div>
                <span asp-validation-for="DustCover" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.Hoses)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="Hoses"></label></div>
                    </div>
                </div>
                <span asp-validation-for="Hoses" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.FuelTankVaporVentSystemsHoses)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="FuelTankVaporVentSystemsHoses"></label></div>
                    </div>
                </div>
                <span asp-validation-for="FuelTankVaporVentSystemsHoses" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               id=""
                               class="form-control"
                               value="@Html.DisplayFor(model => model.FluidTankBand)"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="FluidTankBand"></label></div>
                    </div>
                </div>
                <span asp-validation-for="FluidTankBand" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="date"
                               asp-for="AutomaticTransmissionFluid"
                               id=""
                               class="form-control"
                               required
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="AutomaticTransmissionFluid"></label></div>
                    </div>
                </div>
                <span asp-validation-for="AutomaticTransmissionFluid" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="date"
                               asp-for="BallJoints"
                               id=""
                               class="form-control"
                               required
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="BallJoints"></label></div>
                    </div>
                </div>
                <span asp-validation-for="BallJoints" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="date"
                               asp-for="BrakeLines"
                               id=""
                               class="form-control"
                               required
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="BrakeLines"></label></div>
                    </div>
                </div>
                <span asp-validation-for="BrakeLines" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="date"
                               asp-for="CatalyticConverter"
                               id=""
                               class="form-control"
                               required
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="CatalyticConverter"></label></div>
                    </div>
                </div>
                <span asp-validation-for="CatalyticConverter" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="date"
                               asp-for="CatalyticConverter"
                               id=""
                               class="form-control"
                               required
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="CatalyticConverter"></label></div>
                    </div>
                </div>
                <span asp-validation-for="CatalyticConverter" class="text-danger"></span>
            </div>  
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="date"
                               asp-for="ConstantVelocityBoots"
                               id=""
                               class="form-control"
                               required
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="ConstantVelocityBoots"></label></div>
                    </div>
                </div>
                <span asp-validation-for="ConstantVelocityBoots" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="date"
                               asp-for="Differential"
                               id=""
                               class="form-control"
                               required
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="Differential"></label></div>
                    </div>
                </div>
                <span asp-validation-for="Differential" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               asp-for="Remarks"
                               id=""
                               class="form-control"
                               required
                               pattern="\S+.*" />
                        <div class="input-text"><label>Remarks</label></div>
                    </div>
                </div>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete" class="row">
                    <input type="hidden" asp-for="Id" />
                    <div class="col-12 mb-4">
                        <p>To proceed deleting this data. Please type <strong id="confirmValue"></strong>.</p>
                        <div class="input-group" id="">
                            <div id="" class="custom-input w-100">
                                <input type="text"
                                       id="confirmInput"
                                       class="form-control"
                                       required
                                       pattern="\S+.*" />
                                <div class="input-text"><label>Confirmation</label></div>
                            </div>
                        </div>
                        <span><small>Note: This will be remove permanently.</small></span>
                    </div>
                    <div class="col-12">
                        <button type="submit" value="Delete" class="btn btn-danger text-capitalize" disabled id="confirmDelete">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const targetValue = document.querySelector('#targetValue');
        console.log(targetValue)
        const confirmValue = document.querySelector('#confirmValue');
        const confirmInput = document.querySelector('#confirmInput');
        const btnTrigger = document.querySelector('#confirmDelete')
        confirmValue.innerText = `Delete ${targetValue.value}`

        confirmInput.addEventListener('change', e => {
            console.log(e.target.value)
            if (e.target.value === confirmValue.innerText) {
                btnTrigger.removeAttribute('disabled')
            }
            else {
                btnTrigger.setAttribute('disabled', '')
            }
        })
    </script>
}
