@model VMNS.Models.Sub_InteriorExterior

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Body.cshtml";
    var currentValues = new[] { "Good for Service", "For Monitoring", "Needs Repair" };

}
<form asp-action="Edit">
    <div class="row mt-3">
        <input type="hidden" asp-for="Id" />
        <div class="col-md-6 col-sm-4 col-6 my-auto">
            <h2><i class="ri-car-fill text-lra-primary"></i> Interior / Exterior</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-6  my-auto position-relative">
            <div class="float-end">
                <a asp-area="" asp-controller="Maintenances" asp-action="Details" asp-route-Id=@ViewData["MaintenanceId"] class="btn btn-sm text-capitalize bg-white box-lra-shadow rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
                <button type="submit" class="btn btn-sm text-white text-capitalize bg-lra-primary box-lra-shadow rounded "><i class="ri-save-line"></i> Save</button>
            </div>
        </div>
        <div class="col-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row bg-white box-lra-shadow rounded d-flex justify-content-center pt-4">
            <div class="col-lg-7 col-sm-7 col-12">
            <div class="row">
                <div class="col-12">
                    <input type="text"
                           asp-for="MaintenanceId"
                           id=""
                           class="form-control"
                           required
                           readonly
                           hidden
                           pattern="\S+.*" />
                    <table class="table  table-borderless">
                        <thead>
                            <tr>
                                <th colspan="4" class="good text-white">
                                    Good for Service
                                </th>
                            </tr>
                            <tr>
                                <th class="good"></th>
                                <th colspan="3" class="warning">
                                    For Monitoring
                                </th>
                            </tr>
                            <tr>
                                <th class="good"></th>
                                <th class="warning"></th>
                                <th colspan="2" class="danger text-white">
                                    Needs Repair
                                </th>
                            </tr>
                            <tr>
                                <th colspan="4" class="category-name">
                                    Interior / Exterior
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="HeadLights" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.HeadLights == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.HeadLights)
                                        <input type="radio" name="HeadLights" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.HeadLights == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="TailLights" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.TailLights == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.TailLights)
                                        <input type="radio" name="TailLights" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.TailLights == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="TurnSignals" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.TurnSignals == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.TurnSignals)
                                        <input type="radio" name="TurnSignals" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.TurnSignals == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="BrakeLights" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.BrakeLights == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.BrakeLights)
                                        <input type="radio" name="BrakeLights" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.BrakeLights == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="HazardLights" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.HazardLights == currentValue ? "checked" : "")/>
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.HazardLights)
                                        <input type="radio" name="HazardLights" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.HazardLights == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="ExteriorLamps" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.ExteriorLamps == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.ExteriorLamps)
                                        <input type="radio" name="ExteriorLamps" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.ExteriorLamps == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="LicensePlatesLights" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.LicensePlatesLights == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.LicensePlatesLights)
                                        <input type="radio" name="LicensePlatesLights" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.LicensePlatesLights == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="WindshieldWiper" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.WindshieldWiper == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.WindshieldWiper)
                                        <input type="radio" name="WindshieldWiper" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.WindshieldWiper == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="WiperBlades" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.WiperBlades == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.WiperBlades)
                                        <input type="radio" name="WiperBlades" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.WiperBlades == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="WindshieldCondition" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.WindshieldCondition == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.WindshieldCondition)
                                        <input type="radio" name="WindshieldCondition" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.WindshieldCondition == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="EmergencyBrakeAdjustment" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.EmergencyBrakeAdjustment == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.EmergencyBrakeAdjustment)
                                        <input type="radio" name="EmergencyBrakeAdjustment" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.EmergencyBrakeAdjustment == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="HornOperation" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.HornOperation == currentValue ? "checked" : "")/>
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.HornOperation)
                                        <input type="radio" name="HornOperation" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.HornOperation == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="FuelTankCapBasket" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.FuelTankCapBasket == currentValue ? "checked" : "")/>
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.FuelTankCapBasket)
                                        <input type="radio" name="FuelTankCapBasket" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.FuelTankCapBasket == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="AirConGasket" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.AirConGasket == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.AirConGasket)
                                        <input type="radio" name="AirConGasket" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.AirConGasket == "Not Inspected" ? "checked" : "") />
                                 </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="AirConFilter" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.AirConFilter == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.AirConFilter)
                                        <input type="radio" name="AirConFilter" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.AirConFilter == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="ClutchOperation" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.ClutchOperation == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.ClutchOperation)
                                        <input type="radio" name="ClutchOperation" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.ClutchOperation == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>

                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="BackupLights" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.BackupLights == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.BackupLights)
                                        <input type="radio" name="BackupLights" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.BackupLights == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="DashWarningLights" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.DashWarningLights == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.DashWarningLights)
                                        <input type="radio" name="DashWarningLights" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.DashWarningLights == "Not Inspected" ? "checked" : "") />
                                 </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="Carpet" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.Carpet == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.Carpet)
                                        <input type="radio" name="Carpet" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.Carpet == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="GlassAndMirrors" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.Carpet == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.GlassAndMirrors)
                                        <input type="radio" name="GlassAndMirrors" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.GlassAndMirrors == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="Wiring" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.Wiring == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.Wiring)
                                        <input type="radio" name="Wiring" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.Wiring == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="Odometer" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.Odometer == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.Odometer)
                                        <input type="radio" name="Odometer" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.Odometer == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="FuelGuage" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.FuelGuage == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.FuelGuage)
                                        <input type="radio" name="FuelGuage" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.FuelGuage == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="BatteryVoltage" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.BatteryVoltage == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.BatteryVoltage)
                                        <input type="radio" name="BatteryVoltage" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.BatteryVoltage == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr class="condition-row">
                                @foreach (var currentValue in currentValues)
                                {
                                    <td class="checkbox-container  text-center">
                                        <input type="radio" name="Indicators" id="@currentValue" class="checkbox-item" value="@currentValue" @(Model.Indicators == currentValue ? "checked" : "") />
                                    </td>
                                }
                                <td>
                                    @Html.DisplayNameFor(model => model.Indicators)
                                        <input type="radio" name="Indicators" id="" class="checkbox-item d-none" value="Not Inspected" @(Model.Indicators == "Not Inspected" ? "checked" : "") />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="category-name">
                                    Remarks
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <textarea class="form-control" placeholder="Leave a comment here" asp-for="Remarks">
                                    </textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
